/**
* sjg - CSS for Revmaker pages
*/

/*
* Bootstrap skin changes
*/

select, textarea, input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], input[type="date"], 
input[type="month"], input[type="time"], input[type="week"], input[type="number"], 
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input 
{
    color: #000;	/* change all input colors was too light */
}

.btn-custom { 
	background-color: hsl(360, 100%, 44%) !important; 
	background-repeat: repeat-x; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4747", endColorstr="#e00000"); 
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ff4747), to(#e00000)); 
	background-image: -moz-linear-gradient(top, #ff4747, #e00000); 
	background-image: -ms-linear-gradient(top, #ff4747, #e00000); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff4747), color-stop(100%, #e00000)); 
	background-image: -webkit-linear-gradient(top, #ff4747, #e00000); 
	background-image: -o-linear-gradient(top, #ff4747, #e00000); 
	background-image: linear-gradient(#ff4747, #e00000); 
	border-color: #e00000 #e00000 hsl(360, 100%, 39%); 
		
	color: #fff !important; 
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); */
    text-shadow: -1px -1px 0 rgba(0,0,0,.4);

	-webkit-font-smoothing: antialiased; 
	}
	
.btn { font-weight: bold; }

/*
* the required and errorMessage are for yii error feedback,
* removed from form.css as that changes too much to use.
*/

span.required
{
	color: red;
}

.errorMessage
{
	color: red;
	font-size: 16px;
    font-weight: bold;
    
    animation-timing-function: ease-out;
    animation: fade 4s infinite;
    padding-top:3px;
    padding-bottom:3px;
}

@keyframes fade {

	0% {opacity: 0;	}	
	25% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}

.error input,
.error textarea,
.error select,
input.error,
textarea.error,
select.error
{
	background: #FFC0CB;
}

div.error
{
	color: #000;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

div.error h1
{
	color: #C00;
    font-size: 40px;
    font-weight: bold;
}

strong 
{
	font-weight: bold;
}

.error_main {
    position: relative;
    padding: 20px;
    margin: 0 auto;
    width: 900px;
}

body {
    font-family: Arial, Helvetica, Verdana;
    font-size: 14px;
    color: #333;
    line-height:15px;
}

p {
    margin: 1em 0;
}

header {
    background-color: #fff;
}

.header_wrapper {
    border-top: 10px solid #ec1d25;
    width: 940px;
    margin: 0 auto;
    padding: 10px 0;
}

.header_logo {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

nav {
    background: url('../images/nav-bg.png') repeat-x;
    height: 40px;
}

nav ul {
    width: 940px;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    vertical-align: top;
    background: url('../images/nav-item-bg.png') repeat-y;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    height: 30px;
    line-height: 1.5;
}

nav a:hover {
    text-decoration: underline;
}

.nav_social {
    padding: 0 0 0 80px;
}

.nav_social a {
    padding: 10px 0 0 10px;
}

.wrapper {
    background-color: #fff;
}

.landing_main {
    position: relative;
    height: 280px;
    padding: 20px;
    margin: 0 auto;
    width: 900px;
    background: url('../images/landing-main-bg.jpg') no-repeat;
}

.landing_main h1 {
    position: absolute;
    top: 23px;  /* sjg Bootstrap fix */
    left: 34px;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0,0,0,.4);
}

.landing_main h2 {
    position: absolute;
    top: 72px;
    font-style: italic;
    font-size: 20px;
    width: 525px;
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0,0,0,.4)
}

.landing_main form {
    position: absolute;
    top: 125px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    width: 480px;
    padding: 9px 20px 10px;
}

.landing_main fieldset {
    display: inline-block;
    vertical-align: top;
}

.landing_main .zip_modal select {
	margin-right : 20px;
}

.landing_main form #mm_selects { 
    width: 250px;
}

.landing_main label {
    font-weight: bold;
}

.landing_main input[type="text"] {
    width: 80px;
    border: 1px solid #999;
    margin-bottom: 0px;
}

.landing_main .input-append {
    margin-bottom: 0px;
}

.landing_main #landing_submit {	
    display: block;
    width: 300px; /*172px;*/
	margin-left: auto;
	margin-right: auto;
    font-size: 22px;
}


.landing_main input[type="submit"] {
    display: block;
	margin-left: auto;
	margin-right: auto;
}

.landing_overview {
    width: 940px;
    margin: 0 auto;
    padding: 5px 0 20px;
}

.landing_overview h3 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: rgb(214, 0, 8);
    line-height: 15px;
}

.landing_price {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}

.landing_price span {
    text-decoration: line-through;
    color: #ec1d25;
}

.landing_overview_car {
    float: right;
    border: 1px solid #999;
    width: 300px;
    margin: 0 0 30px 30px;
    text-align: center;
    padding: 20px;
}

.landing_overview_car img {
    width: 300px;
    height: 190x;
    margin: 0 0 10px; 
}

.landing_overview_car h4,
.landing_overview_makeCar,
.landing_overview_modelCar,
 h4 {
    font-weight: bold;
    font-size: 16px;
    color: #EC1D25;
}

.landing_overview_makeCar {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #999;
    width: 307px;
    margin: 0 0 0 1px;
    text-align: center;  
	padding: 20px 0 20px 0;
    height: 200px;
    
}

.landing_overview_makeCar:first-child {
	margin-left: 1px;
}

/* next few added sjg */ 

.landing_overview #show_makes{
	padding-top: 5px;
	padding-bottom: 5px;
}

.landing_overview_modelCar {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #999;
    width: 524px;
    margin: 0 0 0 10px;
    text-align: center;  
    padding: 20px; 
    height: 200px;
}

.landing_overview_adspace {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #999;
    width: 317px;
    margin: 0 0 0 10px;
    text-align: left;  
	padding: 5px 20px 35px 20px;
	height: 200px;
	font-size: 12px;
	font-style: italic;
}

.landing_overview_adspace .testimonial {
    background: url('../images/quote_bubble.png') no-repeat;
    height: 152px;
    padding: 20px;
}

.landing_overview_adspace img {
	position: relative;
	right: -175px;
	top: -95px;
}

.landing_overview ol {
	padding : 10px;
	font-weight: bold;
    font-size: 16px;
    background: #CCCCCC;
    border: 1px solid rgb(153, 153, 153);
    margin: 0; 
    list-style-position: inside;
}

.landing_overview li {
	padding : 5px;
}

.landing_overview_modelCar:first-child {
    margin: 0;
}

.landing_overview_below {
    padding: 20px; 
}

/* hide the model div by default */ 

.landing_overview #show_models {
	padding-top: 5px;
	padding-bottom: 5px;
	display: none;
}
 
.landing_overview .landing_overview_below .make_logo img {
	float: left;
	padding: 20px;
	margin-right: 10px;
    border: 1px solid #ccc;
} 
/*-----------
Quote form 
------------*/
.quote_wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #fff;
}

.quote_wrapper ol {
    background: url('../images/quote-steps-bg.png') no-repeat;
    color: #fff;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    text-shadow: -1px -1px 0 rgba(0,0,0,.4);
    margin: 0px;

}

.quote_wrapper ol li {
    display: inline-block;
    width: 310px;
    line-height: 2.8;
    text-align: center;
}

.quote_wrapper form {
    display: table;
    width: 100%;
}


.quote_options_cb
{
    border: 1px solid #d0cb92;
    background-color: #feffe6;
    margin: 5px 0 20px;
    padding: 5px;
}

.quote_column {
    display: table-cell;
    vertical-align: top;
    width: 273px;
    padding: 20px;
    border-left: 1px solid #ccc;
}

.quote_column h2 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px;
}

.quote_column h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px;
}

.quote_column h4 {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #d60008;
}


.quote_column img {
    display: block;
    margin: 0 auto 20px;
    padding: 15px;
}

.quote_column #mmt_img_1 {
    display: block;
	margin: 0px -13px 0px -15px;
    padding: 0;
    max-width: 300px;
}

.quote_column #privacy_img_1 {
	cursor:pointer;
	padding:0;
}

.quote_column select,
.quote_column input[type="text"],
.quote_column input[type="tel"],
.quote_column input[type="email"],
.quote_column textarea
{
    padding: 3px;
    border: 1px solid #999;
    display: block;
    font-size: 14px;
    width: 267px;
    margin-bottom: 0px;
}

.quote_column label {
    display: block;
    font-weight: bold;
    margin: 5px 0 0 0;
}

.quote_column #quote_submit {	
    display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.quote_column input[type="submit"] {
}


.quote_column:first-child {
    border: 0;
}

.quote_column h3 {
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 8px;
}

.quote_checkbox {
    border: 1px solid #d0cb92;
    background-color: #feffe6;
    margin: 0 0 20px;
    height : 150px;
    font-weight: bold;
    padding : 10px;
}

.quote_checkbox img {
	float : left;
	padding-right : 10px;
	margin-bottom: 100px;
}

.quote_dealer div {
    display: inline-block;
    vertical-align: top;
    padding: 5px 0 5px 5px;
}

.quote_dealer label 
{
    font-size: 12px;
    line-height: 1.25;
}

.quote_special {
    border: 1px solid #d0cb92;
    background-color: #feffe6;
    margin: 5px 0 20px;
}

.quote_special .quote_dealer {
    border-top: 1px solid #d0cb92;
    font-size: 12px;
}

.quote_special .quote_dealer:first-child,
.quote_more_dealers .quote_dealer:first-child {
    border: 0;
}

.quote_more_dealers {
    max-height: 275px;
    overflow: auto;
    border: 1px solid #ccc;
    font-size: 12px;
}

.quote_more_dealers .quote_dealer {
    border-top: 1px solid #ccc;
}

.quote_city {
    font-weight: bold;
}

/*------------
Confirmation
-------------*/

.confirm_wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 20px 0 40px;
}

.confirm_wrapper h1 {
    background: url('../images/thankyou-header-bg.png') no-repeat;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
    line-height: 2.8;
    text-indent: 25px;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 rgba(0,0,0,.4);
    margin: 0 0 10px;
}

.confirm_message {
    display: inline-block;
    width: 560px;
    margin: 40px 20px 40px 0;

}

.confirm_conquest_message {
    display: inline-block;
    width: 400px;
    margin: 30px 20px 40px 0;
}

.confirm_vehicle {
    display: inline-block;
    vertical-align: top;
 }

.confirm_conquest {

    display: inline-block;
    vertical-align: top;

	padding-top:10px;
    border-top: 4px solid #EC1D25;
    vertical-align: top;
    width: 940px;
 }

.confirm_vehicle_img {
    padding: 10px;
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
}

.confirm_vehicle_img h2 {
    font-weight: bold;
    font-size: 16px;
}

.confirm_conquest_img {
	float:left;
    padding: 10px;
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
}

.confirm_conquest_logo {
	float:right;
}
.confirm_conquest_logo img {
    padding-top: 30px;
}

.confirm_conquest_img h2 {
    font-weight: bold;
    font-size: 16px;
}

.confirm_anotherQuote {
    padding: 10px 0 0;
    border-top: 4px solid #EC1D25;
    text-align:center;
}

.confirm_anotherQuote h2 {
    font-weight: bold;
    font-size: 19px;
    margin: 0 10px 0 0;
}

.confirm_anotherQuote h2,
.confirm_anotherQuote button {
    display: inline-block;
    vertical-align: middle;
}

.confirm_anotherQuote input[type="submit"] {
}

.confirm_anotherQuote button:hover {
    background-position: 0 -45px;
}

.confirm_anotherQuote button:active {
    background-position: 0 -91px;
}

.confirm_affiliates {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.confirm_affiliates h3 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 30px;
    text-transform: uppercase;
}

.confirm_affiliates h5 {
    font-weight: bold;
    text-transform: uppercase;
}

.confirm_affiliates p {
    margin: 0 0 2em;
}

.confirm_affiliates span {
    display: table;
    width: 100%;
}

.confirm_affiliates span div {
    display: table-cell;
    width: 33%;
    padding: 0 20px;
    border-left: 1px solid #ccc;
}

.confirm_affiliates span div:first-child {
    border: 0;
}

/*----------------------------------------------
General Modal Defaults (bootstrap overrides)
------------------------------------------------*/

.modal {
		width: 800px;
		margin-left: -400px;
}

.modal-header {
	border-bottom: 1px solid #eee;
    font-size: 24px;
    font-weight: bold;
    background-image:none;
    background-color:#EC1D25;
    color: #fff;
    text-align: center;

  -webkit- border-top-left-radius: 6px;		/* only needed if changing the header background color */
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
  font-weight: bold;
}

.modal-body {
  max-height: 400px;	/* height before scroll */
}

.modal-footer {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

.modal-footer .btn {
	width: 100px; 	/* lets make it nicer looking */
}

/*----------------
 ZipHelper Modal
----------------*/

/* make window smaller for JUST the ziphelper */

#ModalZipHelper.modal {
	width: 512px;
	margin-left: -256px;
}

#ModalZipHelper.modal-body {
	font-size:18px;
	font-weight:bold;
	line-height:24px;
	color:#696969;
	max-height: 512px;
}


/*----------------
 Conquest Modal
----------------*/

.conquest_modal div.modal-body {
	font-size:18px;
	font-weight:bold;
	line-height:24px;
	color:#696969;
	max-height: 512px;
}

.conquest_modal h1 {
    font-size: 24px;
    font-weight: bold;
    background-image:none;
    background-color:#EC1D25;
    color: #fff;
    text-align: center;
    text-indent: 0;
    line-height:50px;
}

.conquest_modal h3 {
  font-size: 30px;
  font-weight: bold;
}

.conquest_modal ol {
	padding:30px 0 50px 0;
	list-style-position: inside;
}

.conquest_modal li {
	line-height : 28px;
	color: #EC1D25;
	font-size:22px;
	font-weight:bold;
}

.conquest_modal img {
	padding: 10px 20px 0 0;
	float:left;
}

.conquest_modal div.modal-center {
	text-align: center;
}

.conquest_modal div.modal-right {
	text-align: right;
}

.conquest_modal span.big-text {
    font-size: 24px;
    font-weight: bold;
}

.conquest_modal span.huge-text {
    font-size: 34px;
    font-weight: bold;
}

.modal-footer {
	background-color: #fff;
}

/*----------------
 OEM Modal
----------------*/

.oem_modal div.modal-body {
	font-size:17px;
	font-weight:bold;
	line-height:24px;
	color:#696969;
	max-height: 512px;
}

.oem_modal h1 {
    font-size: 24px;
    font-weight: bold;
    background-image:none;
    background-color:#EC1D25;
    color: #fff;
    text-align: center;
    text-indent: 0;
    line-height:50px;
}

.oem_modal h3 {
  font-size: 30px;
  font-weight: bold;
}

.oem_modal ol {
	padding:15px 0 10px 0;
	list-style-position: inside;
}

.oem_modal li {
	line-height : 20px;
	color: #EC1D25;
	font-size:16px;
	font-weight:bold;
}

.oem_modal img {
	padding: 10px 20px 0 0;
	float:left;
}

.oem_modal div.modal-center {
	text-align: center;
}

.oem_modal div.modal-right {
	text-align: right;
}

.oem_modal span.big-text {
    font-size: 24px;
    font-weight: bold;
}

.oem_modal span.huge-text {
    font-size: 34px;
    font-weight: bold;
}

.oem_modal .modal-footer {
	background-color: #fff;
}

/*
* Static pages
*/

.static_body {
    width: 940px;
    margin: 0px auto;
    padding: 5px 0px 20px;
}

/*---------
Footer
---------*/

/*footer {
    background: #474747 url('../images/footer-bg.png') repeat-x;
    color: #fff;
}*/

.footer_wrapper {
    width: 940px;
    margin: 0 auto;
    display: table;
	border-top: 10px solid #EC1D25;
}

.footer_wrapper h5 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 1em;
}

.footer_wrapper a {
    color: #EC1D25;
    text-decoration: none;
}

.footer_wrapper a:hover {
    text-decoration: underline;
}

.footer_wrapper div {
    display: table-cell;
    border-left: 1px solid #333;
    padding: 0 20px;
    vertical-align: top;
}

.footer_wrapper div:first-child {
    border: 0;
    width: 320px;
    font-size: 12px;
    /* color: #ccc; */
    padding: 10px; /*sjg*/
}

.footer_wrapper div:first-child p {
    text-align: center;
    padding: 10px 0 0;
}

.footer_wrapper li {
    margin: 0 0 10px;
}

.footer_carro {
    display: block;
    padding: 0 0 20px;
    margin: 0 0 20px;
    text-align: center;
}

.footer_carro a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.footer_motorpress {
    float: left;
}

.footer_social li {
    height: 20px;
}

.footer_social li span {
    float: left;
    margin: 0 10px 0 0;
    display: block;
    width: 19px;
    height: 20px;
}

